body {
    background: white;
    font-family: 'Helvetica';
    max-width: 1000px;
    margin: 0 auto;
}

.main_title {
    text-align: center;
    border: 3px solid red;
    margin: 10px 100px;
}

.recipe_button {
    display: block;
    text-align: center;
    margin: 20px auto;
}